<div class="projects__container">
  <h1>Projects</h1>
  <div>
    <div class="projects__button">
      <button (click)="openModal()">New project</button>
    </div>
    <div class="projects__table">
      <table>
        <thead>
          <tr>
            <th>Project</th>
            <th>Start date & time</th>
            <th>End date & time</th>
            <th>Total duration</th>
          </tr>
        </thead>
        <tbody>
          @for (project of projects(); track project.id) {
            <tr routerLink="/project/{{ project.id }}">
              <td>
                <input
                  class="projects__container-input"
                  (click)="stopPropagation($event)"
                  (blur)="onBlur($event, project.id)"
                  [(ngModel)]="project.name" />
                @if (project.name.length > maxNameLength) {
                  <div class="input-error">Name can not be longer then {{ maxNameLength }} signs</div>
                }
              </td>
              <td>
                {{ project.startDateTime | date: 'dd.MM.yyyy HH:mm' }}
              </td>
              <td>
                {{ project.endDateTime | date: 'dd.MM.yyyy HH:mm' }}
              </td>
              <td>{{ project.duration | date: 'HH:mm:ss' : 'UTC' }}</td>
              <td>
                <div class="projects__container-buttons">
                  <button
                    class="timer"
                    (click)="removeProject($event, project.id)"
                    [disabled]="isTimerRunningMap().get(project.id)"
                    aria-label="Start/Stop time entry">
                    <svg viewBox="0 0 1024.00 1024.00" xmlns="http://www.w3.org/2000/svg">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          fill="#e43e07"
                          d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zM288 512a38.4 38.4 0 0 0 38.4 38.4h371.2a38.4 38.4 0 0 0 0-76.8H326.4A38.4 38.4 0 0 0 288 512z"></path>
                      </g>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

@if (showModal()) {
  <app-project-form (hideModalChange)="hideModal()"></app-project-form>
}
