:host {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 20rem;
  text-align: center;

  &__email {
    color: red;
    font-weight: bold;
  }
}

h2 {
  margin-bottom: 1rem;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #0056b3;
}

button:disabled {
  background: grey;
  cursor: not-allowed;
}

button:disabled:hover {
  background: grey;
}
