.main-menu {
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #2c1338;
    z-index: 9;

    &-user {
      position: absolute;
      bottom: 0;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: -170px;
    }
  }
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: white;
}

section {
  padding: 1rem;
}

a {
  cursor: pointer;
}

@media (max-width: 600px) {
  .main-menu__container {
    position: absolute;
    top: 0;
    left: -190px;
    width: 200px;
    height: 100%;
    background: #2c1338;
    z-index: 9;

    &-icon {
      position: absolute;
      left: 170px;
      top: 45%;
    }

    &-full-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background: #2c1338;
      z-index: 9;
    }
  }
}
