.main-menu {
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #2c1338;
    z-index: 9;

    &-icon {
      position: absolute;
      top: 50%;
      left: -200px;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: white;
      cursor: pointer;
      z-index: 1;
    }
  }
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: white;
}

section {
  padding: 1rem;
}

a {
  cursor: pointer;
}

@media (max-width: 600px) {
  .main-menu__container {
    left: -190px
  }

  .main-menu__container-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1;

  }

  .main-menu__container:hover {
    left: 0;

  }
}
